body{
  height: 100vh;       
  font-family: Poppins-Regular, sans-serif;
  background: -webkit-linear-gradient(bottom, #e8519ea8, #c77ff200);
  max-width: 900px;
  margin: 2em auto;
}
                
.container > div {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(255 255 255);
    box-shadow: 0px 0px 11px 0px #00000059;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 20px;
}
.product-box{
    display: flex;
    justify-content: space-around;
        border-bottom: 1px solid white;
}
.product-box:last-child{
    display: flex;
    justify-content: space-around;
    border-bottom: none;
}

.info{
    margin-top: 10px;
    margin-bottom: 10px;
}
.title{
    margin-top: 10px;
    margin-bottom: 10px;
}
img{
    width: 100%;
    height: auto;
}
.info-box{
    background-color: #f197c5;
    border-radius: 5px;
}