

    <head>
        <title>Supermercado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
    </head>
    <body>
        <div>gracias</div>
    </body>

